@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<h2>Name: Fab Pisco</h2>

<h2>StudentID: 100296834</h2>

<h2>College: George Brown</h2>

<h2>Program Computer programming</h2>

<h2>Course: Comp2139</h2>